<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body">
  <h5 class="card-title" th:text="${item.title}"></h5>
  <p class="card-text" th:text="${item.content}"></p>
  <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러 가기</a>
</div>
<div>
    <br>
            </div>
            <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>
        <!-- 로그아웃 버튼 추가 -->
    <script src="/js/article.js"></script>
</body>
</html>